{%- macro excerpt(page) -%}
{%- set permalink = page.permalink -%}
{%- set is_short = not page.description and not page.summary -%}

<article class="post">
    {{ post_macros::header(page=page, is_excerpt=true) | indent | safe }}

    {%- if page.description %}
    <p>{{ page.description | markdown(inline=true) | safe }}</p>
    {%- elif page.summary %}
    {%- set permalink = permalink ~ "#continue-reading" %}
    {{ page.summary | safe }}
    {%- else %}
    {{ page.content | safe }}
    {%- endif %}
</article>
{%- endmacro -%}

{%- macro header(page, is_excerpt=false) -%}
{%- if is_excerpt -%}
    {%- set heading = "h2" -%}
{%- else -%}
    {%- set heading = "h1" -%}
{%- endif -%}

<header>
    <{{ heading }} class="post-title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </{{ heading }}>
    <ul class="post-meta">
        {% if page.draft -%}
        <li class="draft-label">DRAFT</li>
        {% endif -%}

        <li title="Published on {{ page.date }}{%- if page.updated %}, last updated {{ page.updated }}{%- endif -%}">
            {{- post_macros::date(value=page.date) }}
            {%- if page.updated %}&nbsp;[updated at {{ post_macros::date(value=page.updated) }}]{%- endif -%}
        </li>

        {%- if page.taxonomies %}
        <li aria-hidden="true" role="separator">::</li>

        {%- for tag in page.taxonomies.tags | default(value=[]) %}
        {% set tag_url = get_taxonomy_url(kind="tags", name=tag, lang=page.lang) -%}
        <li class="post-tag">
            <span>#<a {% if not is_excerpt -%}rel="tag" {% endif -%} href="{{ tag_url | safe }}">{{ tag }}</a></span>
        </li>
        {%- endfor %}
        {%- endif %}
    </ul>
</header>
{%- endmacro -%}

{%- macro date(value) -%}
<time datetime="{{ value }}">{{ value | date(format="%d/%m/%Y") }}</time>
{%- endmacro -%}
